@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 488px) {
	.Tear_News img{ width:80px;  }
	#New_Detail .DescriptionNews{ width:98%; height:auto; margin:0px auto} 
	#New_Detail h1{  margin:2px 3px}
	#New_Detail .Contentnews{ width:98%; height:auto; margin:0px auto} 
}