<div id="LeftContent">
    @{Html.RenderAction("MenuProductPartial", "Left");}
    <div id="box_Download">
        <a href="" title="">Hướng dẫn sử dụng</a>
    </div>
  
    @{Html.RenderAction("SupportPartial", "Left");}
    @{Html.RenderAction("PartialboxNews", "Left");}
    @{Html.RenderAction("UrlPartial", "Left");}
</div>