 <div id="ListMenu">

    <ul class="ul_n">
        @Html.Raw(ViewBag.chuoi)
        
        <li class="li_n">
            <a href="/9/Nha-phan-phoi-1.aspx" title="Hệ thống phân phối" rel="nofollow">Hệ thống phân phối</a>
            @Html.Raw(ViewBag.chuoiNPP)
        </li>
        <li class="li_n">
            <a href="/Ban-do" title="bản đồ">Bản đồ</a>
        </li>
    </ul>
</div>