@model Ferroli.Models.tblConfig
<div id="Box_Hotline">

    <a href="#" title="giờ hành chính"> Cơ sở 1 : <span>@Model.Hotline1</span></a>
    <a href="#" title="giờ hành chính"> Cơ sở 2: <span>@Model.Hotline2</span></a>

</div>
@Html.Raw(ViewBag.chuoi)