
@model Ferroli.Models.tblVideo
<div id="NewHomes">
    <div id="Video">
        <span class="mota">Video Ferroli</span>
        <div id="Content_Video">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/@Model.Code" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div id="NewsHome">
        <span class="mota">Tin tức về Ferroli</span>
        <div class="Content_Boxnews">
            @Html.Raw(ViewBag.chuoi)
        </div>
    </div>
</div>
